/* src/App.css */
.App {
 text-align: center;
 
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #91d610;
  font-family: Arial, sans-serif;
}

/* src/ParentComponent.css */
.ParentComponent {
  border: 1px solid #ee1717;
  padding: 20px;
  margin: 20px;
  background-color: #a03c3c;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
}

/* src/ChildComponent1.css */
.ChildComponent1 {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.parent h1{
  color: yellow;
  background-color: black;
  padding: 15px;
}
.child1 h2{
  background-color: black;
  color: red;
}
.child1 p{
  font-size: 18px;
  font-weight: 700px;
}

.ChildComponent1 h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.ChildComponent1 p {
  font-size: 1rem;
  color: yellow;
}



